<!--<section>
    <div class="main">
      <div class="controls">
        <input type="file" id="file" />
        <button id="scan">Scan</button>
      </div>
        <div class="loader" id="spinner1" >
         <img src="/content/dam/hackathon/images/cube.gif" />
          <h4>Scanning and Verifying reciept</h4>
        </div>
        <div class="loader" id="spinner2" >
       <img src="/content/dam/hackathon/images/bars.gif" id="spinner" />
       <h4>Scanning and Verifying reciept</h4>
      </div>
    </div>
</section>-->
<section class="login_part section_padding loginform">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6 col-md-6">
                    <div class="login_part_text text-center">
                        <div class="login_part_text_iner">
                            <h2>Get Rewards.</h2>
                            <p>Upload your receipt here. If you receipt gets verified and accepted , You will be nominated for a reward.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6">
                    <div class="login_part_form">
                        <div class="login_part_form_iner">
                            <h3>Upload Receipt Here</h3>
                            <form class="row contact_form" action="#" method="post" novalidate="novalidate">
                                <div class="col-md-12 form-group p_star">
                                    <input type="file" id="file" class="form-control" />
                                </div>
                                <div class="col-md-12 form-group">
                                    <button type="button" class="btn_3" id="scan">
                                        Upload
                                    </button>
                                </div>
                                <div class="col-md-12" id="spinner1" >
                                    <img src="/content/dam/hackathon/images/cube.gif" />
                                    <h4>Scanning and Verifying reciept</h4>
                                </div>
                                <div class="loader col-md-12 form-group p_star" id="spinner2" >
                                <img src="/content/dam/hackathon/images/bars.gif" id="spinner" />
                                <h4>Scanning and Verifying reciept</h4>
                               </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>